{% extends 'base.html.twig' %}

{% block title %}Phone Book{% endblock %}

{% block body %}
    <div class="jumbotron shadow">
        <h1 class="display-3">Hello, User!</h1>
        <p class="lead">This is a phone number sharing web page.</p>
    </div>
{% endblock %}